startup --output_user_root=~/.cache/bazel/output/

build --disk_cache=~/.cache/bazel/cache
build --repository_cache=~/.cache/bazel/repos/

build --features=external_include_paths
build --generate_json_trace_profile --profile command.profile.gz

test --flaky_test_attempts=10

# https://libcxx.llvm.org/Hardening.html
build:opt --copt -D_LIBCPP_HARDENING_MODE=_LIBCPP_HARDENING_MODE_FAST
build:fastbuild --copt -D_LIBCPP_HARDENING_MODE=_LIBCPP_HARDENING_MODE_EXTENSIVE
build:dbg --copt -D_LIBCPP_HARDENING_MODE=_LIBCPP_HARDENING_MODE_DEBUG

build:dwyu --features=layering_check

build:clang-tidy --output_groups=report,fixes
build:clang-tidy --aspects //bazel/clang_tidy:clang_tidy.bzl%clang_tidy_aspect
build:clang-tidy --action_env=CLANG_TIDY_FLAGS="-fix -fix-errors"
build:clang-tidy --keep_going

build:sanitizer --strip=never
build:sanitizer --copt -fsanitize=address,undefined
# The vtable sanitizer currently leads to a linker error
build:sanitizer --copt -fno-sanitize=vptr
build:sanitizer --copt -DADDRESS_SANITIZER
build:sanitizer --copt -fno-omit-frame-pointer
build:sanitizer --aspects=//bazel/foreign_cc:dwyu_aspect.bzl%dwyu_aspect
build:sanitizer --output_groups=dwyu
build:sanitizer --linkopt -fsanitize=address,undefined
build:sanitizer --linkopt -Wl,--allow-shlib-undefined

build:remote-cache --bes_results_url=https://olympus-robotics.buildbuddy.io/invocation/
build:remote-cache --bes_backend=grpcs://olympus-robotics.buildbuddy.io
build:remote-cache --remote_cache=grpcs://olympus-robotics.buildbuddy.io
build:remote-cache --remote_timeout=3600
# build:remote-cache --remote_header=x-buildbuddy-api-key=XXX # Fill this to use it
build:remote-cache --remote_cache_compression
build:remote-cache --nolegacy_important_outputs
