#=================================================================================================
# HEPHAESTUS
#=================================================================================================

# This file encodes language usage rules and some style rules
#
# Checks for safe usage of language features come from
# - CERT C++ coding standard
# - Google coding standard
# - CPPCoreGuidelines
# - High Integrity C++ coding standard
#
# Style rules:
# - The linter prompts the developer to use Modern C++ features with `modernize-*` checks
# - Style rules comes from ROS coding style (see corresponding .clang-format file. Identifier naming conventions are
# encoded in this file with `readability-*` rules
#
# Additionally, checks are turned on to catch
# - Use of language features that may be bug-prone
# - Use of language features that may cause performance issues

# Enable rule sets. Some checks are turned off because they are flagged by multiple rule-sets
Checks: "-*,
  misc-*,
  -misc-no-recursion,
  cppcoreguidelines-*,
  clang-analyzer-*,
  google-*,
  -google-runtime-references,
  -google-readability-todo,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-suspicious-include,
  -bugprone-reserved-identifier,
  cert-*,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  hicpp-*,
  -hicpp-avoid-goto,
  -hicpp-uppercase-literal-suffix,
  -hicpp-avoid-c-arrays,
  -hicpp-no-array-decay,
  -hicpp-special-member-functions,
  -hicpp-member-init,
  -hicpp-vararg,
  -hicpp-use-override,
  performance-*,
  modernize-*,
  -modernize-avoid-c-arrays,
  readability-*,
  -readability-uppercase-literal-suffix,
  -readability-simplify-boolean-expr,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-redundant-access-specifiers,
  -readability-identifier-length,
  -readability-static-accessed-through-instance,
  -cert-dcl58-cpp
  "

# Check headers from `modules` only.
# Autogenerated headers for Qt apps are placed in build directory and therefore will be ignored.
HeaderFilterRegex: '\/modules\/'
ExcludeHeaderFilterRegex: ".pb.h$"
WarningsAsErrors: "*"

ExtraArgs:
  - -Wno-unused-command-line-argument

CheckOptions:
  - {
      key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor,
      value: 1,
    }
  - { key: cppcoreguidelines-avoid-do-while.IgnoreMacros, value: 1 }
  - {
      key: readability-identifier-naming.ConstexprVariableCase,
      value: UPPER_CASE,
    }
  - { key: readability-identifier-naming.GlobalConstantCase, value: UPPER_CASE }
  - { key: readability-identifier-naming.NamespaceCase, value: lower_case }
  - { key: readability-identifier-naming.ClassCase, value: CamelCase }
  - { key: readability-identifier-naming.StructCase, value: CamelCase }
  - { key: readability-identifier-naming.PrivateMemberCase, value: lower_case }
  - { key: readability-identifier-naming.PrivateMemberSuffix, value: _ }
  - {
      key: readability-identifier-naming.ProtectedMemberCase,
      value: lower_case,
    }
  - { key: readability-identifier-naming.ProtectedMemberSuffix, value: _ }
  - { key: readability-identifier-naming.FunctionCase, value: camelBack }
  - { key: readability-identifier-naming.MemberCase, value: lower_case }
  - { key: readability-identifier-naming.ClassMemberCase, value: lower_case }
  - { key: readability-identifier-naming.ParameterCase, value: lower_case }
  - { key: readability-identifier-naming.VariableCase, value: lower_case }
  - { key: readability-identifier-naming.LocalVariableCase, value: lower_case }
  - { key: readability-identifier-naming.EnumCase, value: CamelCase }
  - { key: readability-identifier-naming.EnumConstantCase, value: UPPER_CASE }
  - { key: readability-function-cognitive-complexity.Threshold, value: 40 }
  - {
      key: readability-function-cognitive-complexity.DescribeBasicIncrements,
      value: 0,
    }
  - { key: readability-function-cognitive-complexity.IgnoreMacros, value: 1 }
  - {
      key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic,
      value: 1,
    }
  - {
      key: misc-include-cleaner.IgnoreHeaders,
      value: "./build/externals/deploy/include/.*",
    }
  - {
      key: misc-include-cleaner.IgnoreHeaders,
      value: "log.h|log_sink.h|.*/types_proto/.*|.*/format/generic_formatter.h",
    }
