name: hephaestus
services:
  hephaestus-base:
    build:
      dockerfile: Dockerfile
      pull: true
      context: .
      tags:
        - hephaestus-base:${DOCKER_TAG}
        - ghcr.io/olympus-robotics/hephaestus:${DOCKER_TAG}
      args:
        BASE_IMAGE: ubuntu:22.04
    command: 'echo "build is completed"'
  hephaestus:
    container_name: hephaestus-dev
    restart: unless-stopped
    build:
      dockerfile: Dockerfile.dev
      pull: false
      context: .
      args:
        BASE_IMAGE: hephaestus-base:${DOCKER_TAG}
    depends_on:
      hephaestus-base:
        condition: service_completed_successfully
    command:  tail -F /dev/null
    ports: []
    privileged: true
    cap_add:
      - SYS_PTRACE
      - NET_ADMIN
    shm_size: 512
    security_opt:
      - seccomp:unconfined
    network_mode: host
    environment:
      DISPLAY: ${DISPLAY:-}
      SCCACHE_SERVER_PORT: 4228
      HEPHAESTUS_PATH: /workspaces/hephaestus
    devices:
      - /dev/dri/card0:/dev/dri/card0
    working_dir: /workspaces/hephaestus
    volumes:
      - /dev:/dev
      - ${HOME}/.ssh:/workspaces/.ssh
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ../:/workspaces/hephaestus
      - shellhistory:/dc/shellhistory
      - vscode-server:/workspaces/.vscode-server
      - cache:/workspaces/.cache

volumes:
  shellhistory:
  vscode-server:
  cache:
