name: hephaestus
services:
  hephaestus-base:
    build:
      dockerfile: Dockerfile
      context: .
      args:
        BASE_IMAGE: ubuntu:22.04
    command: 'echo "build is completed"'
  hephaestus:
    container_name: hephaestus-dev
    restart: unless-stopped
    build:
      dockerfile: Dockerfile.dev
      context: .
      additional_contexts:
        base_image: "service:hephaestus-base"
    command: tail -F /dev/null
    ports: []
    cap_add:
      - SYS_PTRACE
      - NET_ADMIN
    shm_size: 512
    security_opt:
      - seccomp:unconfined
    environment:
      DISPLAY: ${DISPLAY:-}
      SCCACHE_SERVER_PORT: 4228
      HEPHAESTUS_PATH: /workspaces/hephaestus
    devices:
      - /dev/dri:/dev/dri
    working_dir: /workspaces/hephaestus
    volumes:
      - /dev:/dev
      - ${HOME}/.config/nvim:/workspaces/.config/nvim
      - ${HOME}/.local:/workspaces/.local
      - ${HOME}/.ssh:/workspaces/.ssh
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ../:/workspaces/hephaestus
      - shellhistory:/dc/shellhistory
      - vscode-server:/workspaces/.vscode-server
      - cache:/workspaces/.cache

volumes:
  shellhistory:
  vscode-server:
  cache:
